# Neon PostgreSQL
DATABASE_URL="postgresql://USER:PASS@ep-xxx.region.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASS@ep-xxx.region.aws.neon.tech/neondb?sslmode=require"

NEXTAUTH_SECRET="gere-uma-chave-secreta-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
